ul {
  list-style-type: none;
  padding: 0;
}
ul > li {
  border: black solid 1px;
}

ul > li:nth-child(odd) {
  background-color: lightgray;
}

.loading-spinner {
  animation: loading-spinner 1s linear infinite;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}

.character {
  text-align: center;
  min-width: 300px;
  border: 1px solid black;
}
